<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
<div align="center">
  <a href="/new"> Добавить игрока </a>
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${listPlayers}">
      <td th:text="${player.id}">ID</td>
      <td th:text="${player.name}">Name</td>
      <td>
        <a th:href="@{'/EditPlayer/' + ${player.id}}">Edit</a>
        &nbsp;&nbsp;
        <a th:href="@{'/DeletePlayer/' + ${player.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>